html
{
      width: 600px;
    height: 515px;
}
#return
{
      height: 30px;
    width: 113px;
}
.header
{
  text-align: center;
      margin-bottom: 10px;
}
.title
{
  text-align:center;
  margin:0px;
  margin-right: 80px;
  display:inline-block;
}
.return
{
  display:inline-block;
  float:left;
  height: 30px;
  width: 113px;
  font-weight: bold;
}